Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "Jianzhang Chen"
COLLABORATORS = ""

---

# Datacleaning with Python
The goal of this assignment is to get you started with Pandas. We will use the same dataset as R assignment and learn to do following things in Pandas:
1. Read a csv file.
2. Column wise and row wise transformations with `apply` method.
3. Analyse summary of data with `describe` and `groupby`.

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime

## Loading data.

In [3]:
# If all values in a column are null, Pandas loads it as float column. 
# We specifically tell Pandas to load following columns as datatype object.
# object (roughly) coressponds to string in Pandas.
menu_dtypes = {"keywords" : np.object, "language" : np.object, "location_type" : np.object}
# Read csv.
menu = pd.read_csv("~/data_readonly/A5/Menu.csv", dtype=menu_dtypes)

In [4]:
# Here is a preview of the dataset you just loaded. Scroll right to take a look at the date column.
menu

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,keywords,language,date,location,location_type,currency,currency_symbol,status,page_count,dish_count
0,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",CARD; 4.75X7.5;,EASTER;,NaN,1900-2822,NaN,NaN,1900-04-15,Hotel Eastman,NaN,NaN,NaN,complete,2,67
1,12464,NaN,REPUBLICAN HOUSE,[DINNER],COMMERCIAL,"MILWAUKEE, [WI];",CARD; ILLUS; COL; 7.0X9.0;,EASTER;,WEDGEWOOD BLUE CARD; WHITE EMBOSSED GREEK KEY ...,1900-2825,NaN,NaN,1900-04-15,Republican House,NaN,NaN,NaN,complete,2,34
2,12465,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, STEAMSHIP A...",1900-2827,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,under review,2,84
3,12466,NaN,NORDDEUTSCHER LLOYD BREMEN,LUNCH;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2828,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,63
4,12467,NaN,NORDDEUTSCHER LLOYD BREMEN,DINNER;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,FOLDER; ILLU; COL; 5.5X7.5;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2829,NaN,NaN,1900-04-16,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,4,33
5,12468,NaN,CANADIAN PACIFIC RAILWAY COMPANY,[DINNER],COMMERCIAL,R.M.S. EMPRESS OF CHINA,CARD; ILLUS; COL; 4.75X7.25;,NaN,"ILLUS, RED AND WHITE CHECKERED FLAG;",1900-2831,NaN,NaN,1900-04-16,Canadian Pacific Railway Company,NaN,NaN,NaN,complete,2,37
6,12469,NaN,HOTEL NETHERLAND,SUPPER,COMMERCIAL,"NEW YORK, [NY];",CARD; ILLUS; COL; 6.0X8.75;,NaN,HOTEL CREST IN BLUE; PRICED MENU;,1900-2838,NaN,NaN,1900-04-16,Hotel Netherland,NaN,Dollars,$,complete,2,144
7,12470,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST,COMMERCIAL,SCHNELLDAMPFER KAISER WILHELM DER GROSSE;,BROADSIDE; ILLUS; COL; 5.5X8.50;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, LIGHTHOUSE;...",1900-2839,NaN,NaN,1900-04-17,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,80
8,12471,NaN,NORDDEUTSCHER LLOYD BREMEN,LUNCH,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,BROADSIDE; ILLUS; COL; 5.5X8.50;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, SAILING SHI...",1900-2840,NaN,NaN,1900-04-17,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,67
9,12472,NaN,NORDDEUTSCHER LLOYD BREMEN,[DINNER],COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,FOLDER; ILLUS; COL; 5.5X7.5;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR; LIG...",1900-2841,NaN,NaN,1900-04-17,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,4,29
10,12473,NaN,HOTEL MARLBOROUGH,CAFE LUNCHEON,COMMERCIAL,"[NEW YORK, NY]",CARD; ILLUS; COL; 4.25X5.5;,NaN,HOTEL CREST IN BLUE;,1900-2843,NaN,NaN,1900-04-17,Hotel Marlborough,NaN,NaN,NaN,complete,2,19
11,12474,NaN,ALPHA OF ZETA PSI,ANNUAL BANQUET,COMMERCIAL,"DELMONICO'S, [NEW YORK, NY];",BOOKLET; ILLUS; COL; 5.5X7.0;,NaN,VELLUM COVER; CREST OF ZETA PSI; TIED WITH BLU...,1900-2844,NaN,NaN,1900-04-17,Alpha Of Zeta Psi,NaN,Dollars,$,under review,12,38
12,12475,NaN,MANHATTAN HOTEL,DINNER,COMMERCIAL,"NEW YORK, NY",CARD; ILLUS; 6X9.5;,NaN,A LA CARTE DU JOUR; HOTEL SEAL AT TOP OF MENU;,1900-2847,NaN,NaN,1900-04-18,Manhattan Hotel,NaN,Dollars,$,complete,2,176
13,12476,NaN,PACIFIC MAIL STEAMSHIP COMPANY,DINNE,COMMERCIAL,"S.S. ""CITY OF PARA""",FOLDER; ILLUS; 6X9.25;,NaN,DECORATIVE BORDER;,1900-2849,NaN,NaN,1900-04-18,Pacific Mail Steamship Company,NaN,NaN,NaN,under review,4,21
14,12477,NaN,OCCIDENTAL & ORIENTAL,BREAKFAST,COMMERCIAL,"S.S. ""DORIC""",BROADSIDE; ILLUS; 5.5X8.5;,NaN,HANDWRITTEN; STEAMSHIP COMPANY FLAG AT TOP OF ...,1900-2851,NaN,NaN,1900-04-18,Occidental & Oriental,NaN,NaN,NaN,complete,2,24
15,12478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900-04-18,Occidental & Oriental,NaN,NaN,NaN,under review,2,24
16,12479,NaN,OCCIDENTAL & ORIENTAL STEAMSHIP COMPANY,DINNER,COMMERCIAL,"S.S. ""DORIC""",FOLDER; ILLUS; 5.5X8.5;,NaN,HANDWRITTEN; MARITIME INSIGNIA ON COVER;,1900-2852,NaN,NaN,1900-04-18,Occidental & Oriental Steamship Company,NaN,NaN,NaN,complete,4,44
17,12480,NaN,CANADIAN PACIFIC RAILWAY COMPANY,BREAKFAST,COMMERCIAL,"R.M.S. ""EMPRESS OF CHINA""",CARD; ILLUS; COL; 4.5X7;,NaN,MENU ITEMS NUMBERED; COMPANY FLAG AT TOP OF MENU;,1900-2854,NaN,NaN,1900-04-18,Canadian Pacific Railway Company,NaN,NaN,NaN,complete,2,37
18,12481,NaN,CANADIAN PACIFIC RAILWAY COMPANY,LUNCHEON,COMMERCIAL,"R.M.S. ""EMPRESS OF CHINA""",CARD; ILLUS; COL; 4.5X7;,NaN,MENU ITEMS NUMBERED; COMPANY FLAG AT TOP OF MENU;,1900-2855,NaN,NaN,1900-04-18,Canadian Pacific Railway Company,NaN,NaN,NaN,under review,2,42
19,12482,NaN,NOVIOMAGUS,DINNER,NaN,"FREEMASONS' TAVERN, [LONDON, ENGLAND]",CARD; 4.25X6.25;,NaN,FRENCH; [LOCATION INFO HANDWRITTEN ON BACK OF ...,1900-2856,NaN,NaN,1900-04-18,Noviomagus,NaN,NaN,NaN,under review,2,16
20,12483,NaN,MANHATTAN HOTEL,CARTE DU JOUR,COMMERCIAL,"NEW YORK, NY",CARD; ILLUS; 6X9.5;,NaN,A LA CARTE MENU; HOTEL SEAL AT TOP OF MENU;,1900-2859,NaN,NaN,1900-04-18,Manhattan Hotel,NaN,Dollars,$,complete,2,129
21,12484,NaN,BOSTON BOOT & SHOE CLUB,ANNUAL MEETING,COMMERCIAL,"BRUNSWICK HOTEL, BOSTON, MA",FOLDER; ILLUS; COL; 4.5X6.5;,NaN,PROGRAM & COMMITTEE LISTED; DECORATIVE WREATH ...,1900-2861,NaN,NaN,1900-04-18,Boston Boot & Shoe Club,NaN,NaN,NaN,complete,6,24
22,12485,NaN,CANADIAN PACIFIC RAILWAY,BREAKFAST,COMMERCIAL,EN ROUTE ABOARD R.M.S. EMPRESS OF CHINA,CARD; 4.5 X 7;,NaN,ITEMS ON MENU ARE NUMBERED; FLAG LOGO;,1900-2869,NaN,NaN,1900-04-19,Canadian Pacific Railway,NaN,NaN,NaN,under review,2,36
23,12486,NaN,HOTEL SAVOY,DINNER,COMMERCIAL,NEW YORK,CARD; ILLUS; COL; 3.25 X 8.5;,NaN,FRENCH; ILLUSTRATION OF MAN AND WOMAN IN COLON...,1900-2872,NaN,NaN,1900-04-19,Hotel Savoy,NaN,NaN,NaN,under review,2,15
24,12487,NaN,PACIFIC MAIL STEAMSHIP CO.,LUNCH,COMMERCIAL,EN ROUTE ABOARD PANAMA LINE STEAMSHIP CITY OF ...,FOLDER; 6 X 9;,NaN,MENU TYPED IN ENGLISH; ORNAMENTAL BORDER;,1900-2875,NaN,NaN,1900-04-19,Pacific Mail Steamship Co.,NaN,NaN,NaN,complete,2,13
25,12488,NaN,CHI PSI FRATERNITY,BANQUET OF THE FIFTY NINTH ANNUAL CONVENTION,SOC;,"HOLLAND HOUSE, NEW YORK CITY",BOOKLET; ILLUS; 5 X 7.25;,ANNIVERSARY;,FRENCH; EMBOSSED FRATERNITY LETTERS IN GOLD AN...,1900-2876,NaN,NaN,1900-04-20,Chi Psi Fraternity,NaN,NaN,NaN,complete,4,19
26,12489,NaN,COLBY ALUMNI ASSOCIATION OF NEW YORK,FIFTH ANNUAL REUNION,SOC;,ST. DENIS HOTEL (NEW YORK?),FOLDER; ILLUS; 4 X 5.5;,ANNIVERSARY;,PHOOGRAPH OF ALUMNI CHEMICAL LABORATORY ON COV...,1900-2877,NaN,NaN,1900-04-20,Colby Alumni Association Of New York,NaN,NaN,NaN,complete,4,21
27,12490,NaN,HOTEL IMPERIAL,DINNER,COMMERCIAL,"(VIENNA, AUSTRIA ?)",CARD; ILLUS; COL; 4.5 X 8;,NaN,GERMAN; WINES; ILLUSTRATION OF WOMAN'S HEAD; F...,1900-2882,NaN,NaN,1900-04-20,Hotel Imperial,NaN,NaN,NaN,complete,2,16
28,12491,NaN,WHITEFRIARS CLUB,SHAKEPEARE COMMEMORATION,SOC;,"ANDERTON'S HOTEL, FLEET STREET, E.C. (ENGLAND?)",CARD; ILLUS; 4.5 X 6.25;,ANNIVERSARY;,FRENCH; ILLUSTRATION OF FRIAR WITH MUSES; ORNA...,1900-2889,NaN,NaN,1900-04-20,Whitefriars Club,NaN,NaN,NaN,complete,2,13
29,12492,NaN,WILSON COLLEGE ALUMNAE ASSOCIATION,DINNER,EDUC;,HOEL FLANDERS,"BOOKLET, ILLUS; COL; 5 X 6.25;",ANNIVERSARY;,PORTRAIT OF HEAD OF COLONIAL WOMAN; SPEECHES; ...,1900-2890,NaN,NaN,1900-04-20,Wilson College Alumnae Association,NaN,NaN,NaN,complete,10,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17049,34871,Ulmer Park,Ulmer Park,NaN,NaN,NaN,NaN,NaN,Lundy's 25th Annual Clam Bake,1912-0593_wotm,NaN,NaN,1912-09-25,Ulmer Park,NaN,Dollars,$,complete,2,31
17050,34872,Copley-Plaza Hotel,Copley-Plaza Hotel,NaN,NaN,NaN,NaN,NaN,Pan-American Congress,1912-0594_wotm,NaN,NaN,1912-09-25,Copley-Plaza Hotel,NaN,NaN,NaN,complete,2,20
17051,34873,Hotel Casey,Hotel Casey,NaN,NaN,NaN,NaN,NaN,Lackawanna County Democracy,1912-0595_wotm,NaN,NaN,1912-09-23,Hotel Casey,NaN,NaN,NaN,complete,4,24
17052,34874,South Shore Country Club,South Shore Country Club,NaN,NaN,NaN,NaN,NaN,Eighth International Congress of Applied Chemi...,1912-0596_wotm,NaN,NaN,1912-01-01,South Shore Country Club,NaN,NaN,NaN,under review,3,16
17053,34875,14th Regiment Armory,14th Regiment Armory,NaN,NaN,NaN,NaN,NaN,War Veterans and Sons' Association,1912-0597_wotm,NaN,NaN,1912-09-21,14th Regiment Armory,NaN,NaN,NaN,under review,3,19
17054,34876,Maplewood Hotel,Maplewood Hotel,NaN,NaN,NaN,NaN,NaN,War Veterans and Sons' Association,1912-0598_wotm,NaN,NaN,1912-09-22,Maplewood Hotel,NaN,NaN,NaN,complete,1,42
17055,34877,Turn Verein,Turn Verein,NaN,NaN,NaN,NaN,NaN,Allied Boards of Trade and Taxpayers' Association,1912-0599_wotm,NaN,NaN,1912-09-26,Turn Verein,NaN,NaN,NaN,complete,6,28
17056,34878,Hotel Casey,Hotel Casey,NaN,NaN,NaN,NaN,NaN,Allied Boards of Trade and Taxpayers' Association,1912-0600_wotm,NaN,NaN,1912-09-26,Hotel Casey,NaN,NaN,NaN,under review,4,28
17057,34879,Hotel Casey,Hotel Casey,NaN,NaN,NaN,NaN,NaN,Pennsylvania State Medical Society,1912-0601_wotm,NaN,NaN,1912-09-26,Hotel Casey,NaN,NaN,NaN,complete,1,27
17058,34880,Copley-Plaza Hotel,Copley-Plaza Hotel,NaN,NaN,NaN,NaN,NaN,Fifth International Congress of Chambers of Co...,1912-0602_wotm,NaN,NaN,1912-09-26,Copley-Plaza Hotel,NaN,NaN,NaN,complete,13,18
17059,34881,U.S. Grant Hotel,U.S. Grant Hotel,NaN,NaN,NaN,NaN,NaN,First Ceremonial Session - Oasis of San Diego,1912-0603_wotm,NaN,NaN,1912-09-28,U.S. Grant Hotel,NaN,NaN,NaN,complete,2,14
17060,34882,N.C.R. Officers Club,N.C.R. Officers Club,NaN,NaN,NaN,NaN,NaN,N.C.R. Officers Club,1912-0604_wotm,NaN,NaN,1912-09-28,N.C.R. Officers Club,NaN,NaN,NaN,under review,5,18
17061,34883,Blackstone,Blackstone,NaN,NaN,NaN,NaN,NaN,Chicago Hotel Men,1912-0605_wotm,NaN,NaN,1912-01-10,Blackstone,NaN,NaN,NaN,under review,2,12
17062,34884,Waldorf Astoria,Waldorf Astoria,NaN,NaN,NaN,NaN,NaN,Chicago Hotel Men,1912-0606_wotm,NaN,NaN,1912-01-10,Waldorf Astoria,NaN,Dollars,$,complete,3,310
17063,34885,Lafayette Hotel,Lafayette Hotel,NaN,NaN,NaN,NaN,NaN,Fifth International Congress of Chambers of Co...,1912-0607_wotm,NaN,NaN,1912-01-10,Lafayette Hotel,NaN,NaN,NaN,under review,9,16
17064,34886,Waldorf Astoria,Waldorf Astoria,NaN,NaN,NaN,NaN,NaN,rightside of menu is printed in French,1912-0608_wotm,NaN,NaN,1912-01-10,Waldorf Astoria,NaN,Dollars,$,under review,3,388
17065,34887,Copley-Plaza Hotel,Copley-Plaza Hotel,NaN,NaN,NaN,NaN,NaN,rightside of menu is printed in French,1912-0609_wotm,NaN,NaN,1912-02-10,Copley-Plaza Hotel,NaN,NaN,NaN,complete,4,24
17066,34888,Savoy Hotel,Savoy Hotel,NaN,NaN,NaN,NaN,NaN,The Denver Base Ball Association,1912-0610_wotm,NaN,NaN,1912-02-10,Savoy Hotel,NaN,NaN,NaN,under review,2,23
17067,34889,Delmonicos,Delmonicos,NaN,NaN,NaN,NaN,NaN,Commandery of the State of New York,1912-0611_wotm,NaN,NaN,1912-10-02,Delmonicos,NaN,NaN,NaN,complete,1,18
17068,34890,Hotel Ponchartrain,Hotel Ponchartrain,NaN,NaN,NaN,NaN,NaN,The Detroit Board of Commerce,1912-0612_wotm,NaN,NaN,1912-10-03,Hotel Ponchartrain,NaN,NaN,NaN,under review,2,26
17069,34891,Waldorf-Astoria,Waldorf-Astoria,NaN,NaN,NaN,NaN,NaN,The Detroit Board of Commerce,1912-0613_wotm,NaN,NaN,1912-10-03,Waldorf-Astoria,NaN,Dollars,$,complete,1,131
17070,34892,Waldorf-Astoria,Waldorf-Astoria,NaN,NaN,NaN,NaN,NaN,"National Paint, Oil and Varnish Association",1912-0614_wotm,NaN,NaN,1912-10-03,Waldorf-Astoria,NaN,NaN,NaN,under review,5,26
17071,34893,Café de Paris,Café de Paris,NaN,NaN,NaN,NaN,NaN,"National Paint, Oil and Varnish Association",1912-0615_wotm,NaN,NaN,1912-10-04,Café de Paris,NaN,Francs,FF,under review,3,88
17072,34895,Waldorf-Astoria,Waldorf-Astoria,NaN,NaN,NaN,NaN,NaN,"National Paint, Oil and Varnish Association",1912-0617_wotm,NaN,NaN,1912-10-04,Waldorf-Astoria,NaN,Dollars,$,complete,2,142
17073,34896,Waldorf-Astoria,Waldorf-Astoria,NaN,NaN,NaN,NaN,NaN,Sixth International Association of Testing Mat...,1912-0618_wotm,NaN,NaN,1912-10-04,Waldorf-Astoria,NaN,Dollars,$,under review,4,56
17074,34898,Waldorf-Astoria,Waldorf-Astoria,NaN,NaN,NaN,NaN,NaN,digitize part A (c.1) and B,1912-0620_wotm,NaN,NaN,1912-10-05,Waldorf-Astoria,NaN,Dollars,$,under review,2,256
17075,34899,Hotel Sherman,Hotel Sherman,NaN,NaN,NaN,NaN,NaN,8th International Congress of Applied Chemistry,1912-0621_wotm,NaN,NaN,1912-10-05,Hotel Sherman,NaN,NaN,NaN,complete,2,15
17076,34900,Impérial Hotel,Impérial Hotel,NaN,NaN,NaN,NaN,NaN,8th International Congress of Applied Chemistry,1912-0622_wotm,NaN,NaN,1912-10-05,Impérial Hotel,NaN,NaN,NaN,under review,1,10
17077,34901,Martin's,Martin's,NaN,NaN,NaN,NaN,NaN,Association of Railway Telegraph Superintendents,1912-0623_wotm,NaN,NaN,1912-06-07,Martin's,NaN,NaN,NaN,complete,3,18
17078,34902,South Shore Country Club,South Shore Country Club,NaN,NaN,NaN,NaN,NaN,Fifth International Congress of Chambers of Co...,1912-0624_wotm,NaN,NaN,1912-10-06,South Shore Country Club,NaN,NaN,NaN,complete,4,21

Output of next cell will tell you datatype of different columns in the dataframe. As stated earlier, object means string.  
As you will in the output of this cell, date coulmn's datatype is string intead of datetime. This is because, some of the dates are ill formed e.g. some dates have year 1 or 190 which are obviously incorrect. Next we will identify such dates, remove them and will add a new date column with correct datatype.

In [5]:
menu.dtypes

id                       int64
name                    object
sponsor                 object
event                   object
venue                   object
place                   object
physical_description    object
occasion                object
notes                   object
call_number             object
keywords                object
language                object
date                    object
location                object
location_type           object
currency                object
currency_symbol         object
status                  object
page_count               int64
dish_count               int64
dtype: object

### Extracting year, month and day from date.
We will write three functions to extract year, month and day from date respectively and then apply these functions on each row.

In [11]:
def extract_year(date_str):
    '''
    Given a string of format of "yyyy-MM-dd" extract year. Use split()
    If the input in null, return null. Code is already provided for this part. You just have to modify else part
    
    Don't forget to convert to integer using int() before returning.
    '''
    if pd.isnull(date_str):
        return np.NaN
    else:
        # Below line just returns 0 always. You have to change it to extract year from date_str using split.
        # Make sure to change to int type before returning. Tests will not pass otherwise.
        # Your implementation should not assume that year is always 4 digits. Some ill-formed dates could have less/more.
        year = date_str.split('-')[0]
        return int(year)

In [12]:
# [2 points] Testing if above function is implemented correctly.
assert extract_year("1990-01-31") == 1990
assert type(extract_year("1990-01-31")) == int
assert extract_year("05-01-31") == 5
assert type(extract_year("05-01-31")) == int

In [13]:
# [8 points] A test very similar to previous but will only run after submission.

In [14]:
def extract_month(date_str):
    '''
    Given a string of format of "yyyy-MM-dd" extract month. Use split()
    If the input in null, return null. Code is already provided for this part. You just have to modify else part
    
    Don't forget to convert to integer using int() before returning.
    '''
    if pd.isnull(date_str):
        return np.NaN
    else:
        # Below line just returns 0 always. You have to change it to extract month from date_str using split.
        # Make sure to change to int type before returning. Tests will not pass otherwise.
        # Your implementation should not assume that month is always 2 digits. Some ill-formed dates could have less/more.
        return int(date_str.split('-')[1])

In [15]:
# [2 points] Testing if above function is implemented correctly.
assert extract_month("1990-01-31") == 1
assert type(extract_month("1990-01-31")) == int
assert extract_month("05-7-31") == 7
assert type(extract_month("05-7-31")) == int

In [16]:
# [8 points] A test very similar to previous but will only run after submission.

In [17]:
def extract_day(date_str):
    '''
    Given a string of format of "yyyy-MM-dd" extract day. Use split()
    If the input in null, return null. Code is already provided for this part. You just have to modify else part
    
    Don't forget to convert to integer using int() before returning.
    '''
    if pd.isnull(date_str):
        return np.NaN
    else:
        # Below line just returns 0 always. You have to change it to extract day from date_str using split.
        # Make sure to change to int type before returning. Tests will not pass otherwise.
        # Your implementation should not assume that day is always 2 digits. Some ill-formed dates could have less/more.
        return int(date_str.split('-')[2])

In [18]:
# [2 points] Testing if above function is implemented correctly.
assert extract_day("1990-01-31") == 31
assert type(extract_day("1990-01-31")) == int
assert extract_day("1990-7-3") == 3
assert type(extract_day("1990-7-3")) == int

In [19]:
# [8 points] A test very similar to previous but will only run after submission.

### Apply above functions to each date.
`apply` methods are the recommended to apply some tranformation single column or even group of columns too. You should almost never use loops while working with dataframes.

In [20]:
# Add three new columns to the dataframe.
menu["year"] = menu["date"].apply(extract_year)
menu["month"] = menu["date"].apply(extract_month)
menu["day"] = menu["date"].apply(extract_day)

In [22]:
# describe method on dataframe is used to look at some stats like min, max, mean, median etc.
# call describe method on menu on next line and answer next few questions.

In [26]:
# Uncomment following line and write the max value of year as reported by describe method.
# You don't have to write 0s after decimal.
max_value_of_year = int(max(menu['year']))
max_value_of_year

2928

In [24]:
# [5 points] This test will check max_value_of_year and will run after submission.

In [28]:
# Uncomment following line and write the min value of year as reported by describe method.
# You don't have to write 0s after decimal.
min_value_of_year = int(min(menu['year']))
min_value_of_year

1

In [29]:
# [5 points] This test will check min_value_of_year and will run after submission.

In [55]:
# Uncomment following line and write the 75th percentile value of day as reported by describe method.
# You don't have to write 0s after decimal.
percentile_75_day = int(menu['day'].quantile(.75))
percentile_75_day

22

In [56]:
# [5 points] This test will check percentile_75_day and will run after submission.

In [57]:
# Uncomment following line and write the 25th percentile value of year as reported by describe method.
# You don't have to write 0s after decimal.
percentile_25_year = int(menu['year'].quantile(.25))
percentile_25_year

1900

In [58]:
# [5 points] This test will check percentile_25_year and will run after submission.

### Next we will identify the dates which are most probably wrong e.g. dates older than 1800. We will replace all such dates with null values.

Let's start with identifying number of rows for each year. Use Pandas `groupby` method for this question and create a dictionary where key is year and value is number of rows in which that year appears e.g. if number of rows with year 1990 are 2 and number of rows with year 2000 are 5, your dictionary should be like the example shown in next cell. However, you will not hardcode like the example but compute it using `groupby`. 

Hint: It should take you only line of code if you do in proper Pandas way.  
Hint: Aggregation functions on `groupby` aggregate for each column individually and only considers rows where that column in non-null. Therefore, after grouping and before counting number of rows, you will have to filter for a column which is always non-null like `id` column. This hint is intentionally vague so you spend sometime with group by and understand exactly how it works by trying out different things.

In [59]:
example_dictionary = {1990.0 : 2, 2000.0 : 5}
example_dictionary

{1990.0: 2, 2000.0: 5}

In [66]:
# Modify the following line and set the variable rows_per_year to a dictionary.
rows_per_year = dict(menu.groupby('year')['id'].count())
rows_per_year

{1.0: 2,
 190.0: 1,
 1091.0: 1,
 1851.0: 3,
 1852.0: 2,
 1853.0: 1,
 1854.0: 3,
 1855.0: 1,
 1856.0: 5,
 1857.0: 1,
 1858.0: 3,
 1859.0: 3,
 1861.0: 1,
 1862.0: 3,
 1864.0: 3,
 1865.0: 7,
 1866.0: 6,
 1869.0: 1,
 1873.0: 1,
 1880.0: 20,
 1881.0: 33,
 1882.0: 25,
 1883.0: 14,
 1884.0: 19,
 1885.0: 21,
 1886.0: 19,
 1887.0: 29,
 1888.0: 46,
 1889.0: 57,
 1890.0: 57,
 1891.0: 95,
 1892.0: 99,
 1893.0: 74,
 1894.0: 74,
 1895.0: 111,
 1896.0: 125,
 1897.0: 169,
 1898.0: 210,
 1899.0: 468,
 1900.0: 3326,
 1901.0: 2263,
 1904.0: 1,
 1905.0: 336,
 1906.0: 571,
 1907.0: 504,
 1908.0: 78,
 1909.0: 3,
 1910.0: 280,
 1912.0: 264,
 1913.0: 104,
 1914.0: 804,
 1915.0: 269,
 1916.0: 173,
 1917.0: 592,
 1918.0: 396,
 1919.0: 131,
 1920.0: 122,
 1921.0: 123,
 1922.0: 1,
 1924.0: 14,
 1925.0: 30,
 1926.0: 30,
 1927.0: 38,
 1928.0: 50,
 1929.0: 37,
 1930.0: 5,
 1931.0: 27,
 1932.0: 54,
 1933.0: 393,
 1934.0: 39,
 1935.0: 77,
 1936.0: 1,
 1937.0: 209,
 1938.0: 169,
 1939.0: 206,
 1940.0: 125,
 1941.0: 102,
 1942.0: 9,
 1943.0: 92,
 1944.0: 57,
 1945.0: 61,
 1946.0: 80,
 1947.0: 46,
 1948.0: 69,
 1949.0: 84,
 1950.0: 29,
 1951.0: 23,
 1952.0: 20,
 1953.0: 77,
 1954.0: 77,
 1955.0: 174,
 1956.0: 8,
 1957.0: 116,
 1958.0: 123,
 1959.0: 130,
 1960.0: 14,
 1961.0: 97,
 1962.0: 95,
 1963.0: 89,
 1964.0: 59,
 1965.0: 108,
 1966.0: 57,
 1967.0: 75,
 1968.0: 42,
 1969.0: 98,
 1970.0: 49,
 1971.0: 30,
 1972.0: 30,
 1973.0: 62,
 1974.0: 31,
 1975.0: 22,
 1976.0: 31,
 1977.0: 23,
 1978.0: 25,
 1979.0: 10,
 1980.0: 30,
 1981.0: 28,
 1982.0: 5,
 1983.0: 5,
 1984.0: 12,
 1985.0: 45,
 1986.0: 19,
 1987.0: 110,
 1988.0: 15,
 1989.0: 22,
 1990.0: 18,
 1991.0: 2,
 1992.0: 2,
 1993.0: 7,
 1994.0: 5,
 1995.0: 18,
 1996.0: 5,
 1997.0: 8,
 1998.0: 9,
 1999.0: 6,
 2000.0: 3,
 2001.0: 15,
 2002.0: 1,
 2003.0: 2,
 2004.0: 1,
 2005.0: 2,
 2006.0: 3,
 2008.0: 4,
 2012.0: 7,
 2928.0: 1}

In [67]:
# [30 points] This will test if the dictionary is correct and will only run after submission.

Examine dictionary for outliers i.e. if there are rows with year smaller than `1800` or greater than `2018`. This exercise will convince you that there are some rows with improbable dates, and these dates are most probably data entering errors.  
Do the same thing for `month` and `day` columns, and observe if there are any rows with potentially wrong day or month i.e. if there is even a single row with day less than 1 or greater than 31, and if there is even a single row with month less than 1 or greater than 12. Convince yourself that there are no rows with month or day outside legal range.

Examining year, month and day will only tell you if each of them are correct individually. However, this doesn't mean that complete date is correct e.g. `2018-02-30` is not a valid date but all individual components are correct in their own right. Next, we will write some code to check if complete dates are correct.

In [68]:
# Let's replace year, month and day with null whenever year is less than 1800 or greater than 2018.
# You don't have to write any code for this, we are providing it. Make sure you understand this code.
menu.loc[menu["year"] < 1800, "year"] = np.nan
menu.loc[menu["year"] > 2018, "year"] = np.nan

menu.loc[menu["year"] < 1800, "day"] = np.nan
menu.loc[menu["year"] > 2018, "day"] = np.nan

menu.loc[menu["year"] < 1800, "month"] = np.nan
menu.loc[menu["year"] > 2018, "month"] = np.nan

We will use three columns, `day`, `year` and `month` to create a new date column. If some `day`, `month`, `year` triple is not compatible, we will not be able to create a date object out of them and hence we will find "unclean"  data.  
Just like before we will write a function to create date given a triple, and call this method for each row using `apply`

In [74]:
# Complete the function below. Make sure to return datetime object from this function.
def create_date(year, month, day):
    if pd.isnull(year) or pd.isnull(month) or pd.isnull(day):
        return np.nan
    else:
        year = int(year)
        month = int(month)
        day = int(day)
        # Change next line to create datetime from year, month and day.
        return datetime(year=year,month=month,day=day) # Change this line.

In [75]:
# [20 points] This test will check if previous function is implemented correctly. This will run only after submission.

In [76]:
# We are going to use the function you just wrote to create a new column.
# If the following line does not fail, then it means that all triples were valid dates otherwise there was some error.
menu["date_cleaned"] = menu.apply(lambda row: create_date(row["year"], row["month"], row["day"]), axis=1)

In [77]:
# Check that new column has correct datatype.
menu.dtypes

id                               int64
name                            object
sponsor                         object
event                           object
venue                           object
place                           object
physical_description            object
occasion                        object
notes                           object
call_number                     object
keywords                        object
language                        object
date                            object
location                        object
location_type                   object
currency                        object
currency_symbol                 object
status                          object
page_count                       int64
dish_count                       int64
year                           float64
month                          float64
day                            float64
date_cleaned            datetime64[ns]
dtype: object